/* RESET */
/* https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* Remove Arrows/Spinners on Input fields */
/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* GENERAL */
/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

/* custom property colors */
:root {
    /* Primary */
    --strong-cyan: hsl(172, 67%, 45%);
    /* Neutral */
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--light-grayish-cyan);
    font-family: 'Space Mono', monospace;
}

textarea,
input {
    border: none;
    outline: none;
    font-size: 24px;
    background-color: var(--very-light-grayish-cyan);
}

label {
    color: var(--grayish-cyan);
    font-weight: 700;
}

/* HEADER */
header img {
    margin: 2em auto;
}

/* MAIN CONTENT */
main {
    background-color: var(--white);
}

.wrapper {
    padding: 1.5em 1em;
}

/* Solution to place icon/img inside input field
https://stackoverflow.com/questions/917610/put-icon-inside-input-element-in-a-form */
.icon {
    background-image: url(images/icon-dollar.svg);
    padding-left: 25px;
    background-size: 20px;
    background-repeat: no-repeat;
}