/* IMPORTS */

/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

/* RESET */

/* https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* Remove Arrows/Spinners on Input fields */
/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* END OF RESET */

/* GENERAL */

/* custom property colors */
:root {
    /* Primary */
    --strong-cyan: hsl(172, 67%, 45%);
    /* Neutral */
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--light-grayish-cyan);
    font-family: 'Space Mono', monospace;
}

textarea,
input {
    width: 100%;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: var(--very-light-grayish-cyan);
    color: var(--very-dark-cyan);
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}

/* solution to disable height increase when
all inputs get a border from hover
focus and active */
input {
    border: 2px solid rgba(0, 0, 0, 0)
}


input:focus,
input:active {
    border: 2px solid var(--strong-cyan);
}

label,
.tip-label {
    color: var(--grayish-cyan);
    font-weight: 700;
    line-height: 2.4;
}

::placeholder {
    color: var(--grayish-cyan);
}

button {
    all: unset;
    cursor: pointer;
}

button:active {
    background-color: var(--light-grayish-cyan);
}

.bill-input-error {
    display: none;
    color: orange;
}

.people-input-error {
    display: none;
    color: orange;
}

.border-error {
    /* I put !important so my javascript code can work.
    If removed the 'input:focus' styling overrides the '.border-error' class.  */
    border: 2px solid orange !important;

}

.label-wrapper {
    display: flex;
    justify-content: space-between;
}

/* END OF GENERAL */

/* WEBSITE */

/* Header */
header img {
    margin: 2em auto;
}

/* Main */
main {
    /* max-width: 375px; */
    background-color: var(--white);
    margin: auto;
    border-radius: 25px 25px 0 0;
}

form {
    padding: 2.5em 2.25em;
}

/* box-1 */
/* Solution to place icon/img inside input field.
https://stackoverflow.com/questions/917610/put-icon-inside-input-element-in-a-form */

.box-1 {
    margin-bottom: 1.5em;
}

.bill-container {
    margin-bottom: 1.25em;
}

.bill-input-icon {
    background-image: url(images/icon-dollar.svg);
    padding: .15em 15px;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 15px 15px;
    border-radius: 4px;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: .75em;
    margin-bottom: 1.25em;
}

.btn {
    border-radius: 4px;
    background-color: var(--very-dark-cyan);
    color: var(--white);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    padding: .3em 0;
}

.cust-btn {
    background-color: var(--very-light-grayish-cyan);
    color: var(--grayish-cyan);
}

.active {
    background-color: var(--strong-cyan);
}

.font-color {
    color: var(--very-dark-cyan);
}

/* Solution to keep custom text centered inside input/cust-btn then when clicked
 input field is right aligned.
https://stackoverflow.com/questions/6729837/text-align-right-only-for-placeholder */
.cust-btn:focus {
    text-align: right;
}

.cust-btn::placeholder {
    text-align: center;
}

/* Solution to place icon/img inside input field.
https://stackoverflow.com/questions/917610/put-icon-inside-input-element-in-a-form */
.people-input-icon {
    background-image: url(images/icon-person.svg);
    padding: .15em 15px;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 15px 15px;
    border-radius: 4px;
}

/* end of box-1 */

/* box-2 */
.box-2 {
    background-color: var(--very-dark-cyan);
    padding: 1.5em;
    border-radius: 10px;
}

.result-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3(1fr);
}

.box-2-tip {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    padding-top: 1em;
}

.box-2-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.result-container p {
    color: var(--white);
}

.person-span {
    display: block;
    color: var(--dark-grayish-cyan);
    font-size: .8rem;
    font-weight: 700;
}

.price-span {
    color: var(--strong-cyan);
    font-size: 1.8rem;
    font-weight: 700;
}

.reset-btn {
    width: 100%;
    border-radius: 4px;
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    padding: .3em 0;
    text-transform: uppercase;
}

.tinted {
    opacity: 0.15;
}

/* END OF WEBSITE */

/* MEDIA QUERIES */
@media screen and (min-width: 950px) {

    /* Header */
    header img {
        margin: 8em auto 6em;
    }

    /* Main */
    main {
        max-width: 900px;
        border-radius: 25px;
    }

    form {
        max-height: 459.64px;
        display: flex;
        column-gap: 4em;
        padding: 2em 2.25em;
    }

    /* Box 1 */
    .box-1 {
        width: 50%;
    }

    .btn-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    /* box-2 */
    .box-2 {
        width: 50%;
        padding: 2em 2.5em;
    }

    .result-container {
        height: 100%;
        grid-template-rows: auto auto .8fr;
    }

    .box-2-btn {
        align-self: end;
    }

    .price-span {
        font-size: 2.8rem;
    }
}